{% extends "base.html" %}
{% block title %}{{post.title|escape}} - {{config.blog_name}}{% endblock %}
{% block body %}
<div id="main">
<div class="header-fields">
  <span class="header">Subject:</span> <span class="headertext subject">{{post.title|escape}}</span>
  <br />
<span class="header">From:</span> <span class="headertext"><a href="mailto:{{post.author}}">{{post.author}}</a></span>
<br />
<span class="header">Date:</span> <span class="headertext">{{post.date_sent|date:"n/d/Y h:i:s A"}}</span>
{% if post.recipients %}
	<span class="header">To:</span> <span class="headertext">
		{% for recipient in post.recipients %}
			{{recipient}}{% if not forloop.last %},{% endif %}
		{% endfor %}
	</span>
{% endif %}
{% if post.cc %}
	<span class="header">Cc:</span> <span class="headertext">
		{% for recipient in post.cc %}
			{{recipient}}{% if not forloop.last %},{% endif %}
		{% endfor %}
	</span>
{% endif %}
	<span class="header">Bcc:</span> <span class="headertext">
		{% if post.bcc %}
			{% for recipient in post.bcc %}
				{{recipient}},
			{% endfor %}
		{% endif %}	
		<a href="http://bcc.npdoty.name/">http://bcc.npdoty.name/</a>
	</span>
</div>
<hr />
<div class="rendered">
  {{post.rendered}}
</div>
  <p class="post-info">
    {% if post.tags %}
		Labels: 
		{% for tag in post.tag_pairs %}
        <a href="{{config.url_prefix}}/tag/{{tag.1|escape}}">{{tag.0|escape}}</a>{% if not forloop.last %},{% endif %}
      {% endfor %}
    {% endif %}
  </p>
  <p class="post-footer">
  	<a class="comment-link" href="mailto:npdoty@gmail.com?subject=Re:{{post.title|escape}}&body=%0A%0AThough I retain copyright, I grant you a royalty-free license to publish this email in the context of your blog.  [Delete this paragraph if you do not want your email to appear on my blog. -- ND]">Reply</a>
  </p>
  
  {% if config.disqus_forum %}
    <h3 id="comments">Comments</h3>
    <div id="disqus_thread"></div>
    {% if devel %}
      <script type="text/javascript">
        disqus_developer = 1;
      </script>
    {% endif %}
    <script type="text/javascript" src="http://disqus.com/forums/{{config.disqus_forum}}/embed.js"></script>
    <noscript><a href="http://disqus.com/forums/{{config.disqus_forum}}/?url=ref">View the discussion thread.</a></noscript>
    <a href="http://disqus.com" class="dsq-brlink">blog comments powered by <span class="logo-disqus">Disqus</span></a>
  {% endif %}
</div>
{% endblock %}
